
   <nav >
   <div class="navbar-container">
      <div class="logo">
         <a href="/index.html">  <img src="/assets/images/logo.png" alt="jaqesto-logo" /></a>
      </div>
      <button
         class="hamburger-menu-button"
         aria-label="Menüyü aç/kapat"
         aria-expanded="false"
         >
      &#9776;
      </button>
      <ul class="nav-menu">
         <li class="nav-item">
            <a class="nav-link" href="/index.html">Home</a>
         </li>
         <li class="logo-item">
            <a href="/index.html"><img src="/assets/images/logo.png" alt="jaqesto-logo" /></a>     
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/pages/menu.html">Menu</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/pages/booking.html">Booking</a>
         </li>
         <li class="nav-item  nav-dropdown">
            <a  id="dropdown-link" class="nav-link" href="#">About</a>
            <div class="dropdown-bridge"></div>
            <ul class="dropdown">
               <li class="dropdown-item">
                  <a class="nav-link" href="/pages/gallery.html">Gallery</a>
               </li>
               <li class="dropdown-item">
                  <a class="nav-link" href="/pages/about.html">About</a>
               </li>
            </ul>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/pages/blog.html">Blog</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/pages/contact.html">Contact</a>
         </li>
      </ul>
      <!--Hamburger menu icon for mobile view */-->
      <ul class="nav-menu-mobile">
         <li class="nav-item-mobile">
            <a class="nav-link-mobile" href="/pages/index.html">Home</a>
         </li>
         <li class="nav-item-mobile">
            <a class="nav-link-mobile" href="/pages/menu.html">Menu</a>
         </li>
         <li class="nav-item-mobile">
            <a class="nav-link-mobile" href="/pages/booking.html">Booking</a>
         </li>
         <!--mobile dropdown -->
         <li class="nav-item-mobile dropdown-mobile">
            <a class="nav-link-mobile  dropdown-mobile-link" href="#">
            About <span class="arrow">▶</span>  </a>
            <ul class="mobile-dropdown">
               <li class="mobile-l-dropdown">
                  <a class="mobile-d-link" href="/pages/about.html">About</a>
               </li>
               <li class="mobile-l-dropdown">
                  <a class="mobile-d-link" href="/pages/gallery.html">Gallery</a>
               </li>
            </ul>
         </li>
         <li class="nav-item-mobile">
            <a class="nav-link-mobile" href="/pages/blog.html">Blog</a>
         </li>
         <li class="nav-item-mobile">
            <a class="nav-link-mobile" href="/pages/contact.html">Contact</a>
         </li>
      </ul>
   </div>
</nav>
